.admin-article
  .error
    display: flex
    color: red
    padding: 1rem
    justify-content: center
  &__content
    display: flex
    flex-direction: column
    form
      display: inline-flex
      flex-direction: column
      width: 100%
      margin-bottom: 2rem
  .input
    margin-bottom: 1rem

  .tox-tinymce
    width: 100%
    margin: 0
    height: 45rem !important

  &__message
    color: green
    display: flex
    padding: 1rem
    justify-content: center

  h1
    margin-bottom: 2rem